@import "~src/app/variables";
.container{
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-column-gap: 20px;
  border-top: #75ded2 1px solid;
  height: 130px;
  padding: 10px;

  .imgContainer{
    background-color: lighten($bgColor-1, 8);
    border: darken($bgColor-1,5) 1px solid;
    border-radius: 15px;
  }

  .btnContainer{
    display: grid;
    grid-template-rows: 3fr 1fr;
    cursor: pointer;
    background-color: lighten($navColor, 5);
    border: seagreen 1px solid;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    .btnImg{

    }
    div{
      text-align: center;
      font-family: 'Roboto', sans-serif;
      padding-bottom: 4px;
    }
    &:hover{
      background-color: #b0deba;
    }
  }
}

