
<nav>
  <div class="nav-wrapper">
    <div class="syarif-icon">
      <i class="medium material-icons left hide-on-large-only">dehaze</i>
    </div>

    <a href="#" class="syarif-logo brand-logo right">Alice Mathis</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down syarif-nav">
      <li><a  routerLinkActive="active" routerLink="/home">Home</a></li>
      <li><a  routerLinkActive="active" routerLink="/uebungen">Übungen</a> </li>
      <li><a  class="syarif-separator" routerLinkActive="active" routerLink="/about">Über Mich</a> </li>
      <li><a  routerLinkActive="active" routerLink="/login">Login</a> </li>
      <li><a  routerLinkActive="active" routerLink="/register">Registrieren</a> </li>
    </ul>
  </div>
</nav>
<div class="containerNav z-depth-2"></div>
