
<div class="top_bar row">
  <div class="menuLabelMobile">
    <div class="col s2">
      <svg width="18" height="12" viewBox="18 19 18 12" xmlns="http://www.w3.org/2000/svg">
        <g fill="#34495E" fill-rule="evenodd" transform="translate(18 19)">
          <rect width="18" height="2" rx="1"></rect>
          <rect y="5" width="18" height="2" rx="1"></rect>
          <rect y="10" width="18" height="2" rx="1">
          </rect>
        </g>
      </svg>
    </div>
  </div>
  <div class="col my-wrapper valign-wrapper">
    <a><img class="logo" src="assets/img/logo/logo.png"></a>
  </div>

  <div class="col">
    <form>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Search by keyword</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Search by location</label>
        </div>
      </div>
    </form>
  </div>

  <div class="col my-wrapper valign-wrapper">
    <div class="col">
      <span>How it works</span>
    </div>
    <div class="col">
      <span>Instagram</span>
    </div>
    <div class="col">
      <span>Contact us</span>
    </div>
  </div>

  <div class="col right my-wrapper valign-wrapper">
    <div class="row">
      <div class="col" style="padding-top: 15px"><a routerLink="/login">Login</a></div>
      <div class="col" style="padding-top: 15px"><a routerLink="/register">Signup</a></div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-left: 20px">Posting iklan kamu
      <i class="material-icons right">send</i>
    </button>

  </div>





</div>
