<div class="wrapper">
  <header>
    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="logo">
        Alice Mathis
      </div>
      <div class="menu">
        <ul>
          <li><a  routerLinkActive="active" routerLink="/home">Home</a></li>
          <li><a  routerLinkActive="active" routerLink="/uebungen">Übungen</a> </li>
          <li><a  routerLinkActive="active" routerLink="/about">Über Mich</a> </li>
        </ul>
      </div>
    </nav>
  </header>
</div>

