@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');

//@import "../variables";

#dropdownMenu{
  width: 300px !important;
}

.menu-icon{
  width: 100%;
  text-align: left;
  display: none;
}

.syarif-logo {
  font-family: 'Lobster', cursive;
  margin-right: 15px;
}

.syarif-icon {
  margin-left: 15px;
}

ul{
  a.active{
    background-color: rgba(0,0,0,.1);
  }

  .syarif-separator{
    position: relative;

    &:after{
      content: '';
      height: 60%;
      width: 2px;

      position: absolute;
      right: 0;
      top: 15px;

      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}






