
<ul class="tabs">
  <li class="tab">
    <a href="#tab1">All Chat</a>
  </li>
  <!--<li class="tab">-->
    <!--<a href="#tab2">Facebook</a>-->
  <!--</li>-->
  <li class="tab">
    <a href="#tab3">Find People</a>
  </li>
</ul>

<!-- tab1-->
<div id="tab1">
  <ul class="friend-list">
    <li>
      <div class="input-field search-field">
        <i class="material-icons prefix">search</i>
        <input class="search-friends" type="text" placeholder="search" (keyup)="onKeyUp($event)">
        <!--<label for="search-friends">search</label>-->
      </div>
    </li>

    <li *ngFor="let user of chatFriends">
      <div *ngIf="user.user_id; else normal_user" (click)="enterChatRoom(user.user_id)">
        <img src="{{user.picture}}" alt="">
        <div class="middle">
          <h5>{{user.username}}</h5>
          <span class="msg-preview">My Status will be here</span>
        </div>
        <span class="badge">3</span>
        <span class="time">10:33</span>
      </div>
      <ng-template #normal_user>
        <div (click)="enterChatRoom(user.user_id)">
          <img src="{{user.picture}}" alt="">
          <div class="middle">
            <h5>{{user.username}}</h5>
            <span class="msg-preview">My Status will be here</span>
          </div>
          <span class="badge">3</span>
          <span class="time">10:33</span>
        </div>

      </ng-template>
    </li>

  </ul>
</div>

<div id="tab3">
  <ul class="friend-list">
    <li>
      <div class="input-field" style="width:100%;margin:0;">
        <i class="material-icons prefix">search</i>
        <input class="search-friends" type="text" placeholder="search by username" (keyup)="onSearchPeople($event.target.value)">
        <!--<input class="search-friends" type="text" placeholder="search by username" (keyup)="onKeyUp($event.target.value)">-->
        <!--<label for="search-friends">search</label>-->
      </div>
    </li>

    <li *ngFor="let user of unApprovedRequest">
      <img src="{{user.picture}}" alt="">
      <div class="middle">
        <h5>{{user.username}}</h5>
        <span class="msg-preview">My Status will be here</span>
      </div>
      <div class="handle-friend-request">
        <div *ngIf="user.user_id; else accept_reject">
        <a class="btn-floating waves-effect waves-light green" (click)="acceptRequest(user.user_id)" ><i class="material-icons">check</i></a>
        <a class="btn-floating waves-effect waves-light red" (click)="rejectRequest(user.user_id)" ><i class="material-icons">clear</i></a>
        </div>
        <ng-template #accept_reject>
          <a class="btn-floating waves-effect waves-light green" (click)="acceptRequest(user.user_id)" ><i class="material-icons">check</i></a>
          <a class="btn-floating waves-effect waves-light red" (click)="rejectRequest(user.user_id)"><i class="material-icons">clear</i></a>
        </ng-template>
      </div>
    </li>

    <li *ngFor="let user of people">
      <img src="{{user.picture}}" alt="">
      <div class="middle">
        <h5>{{user.username}}</h5>
        <span class="msg-preview">My Status will be here</span>
      </div>
      <div class="handle-friend-request">
        <div *ngIf="user.user_id; else other_div">
          <a *ngIf="!checkPending(user.user_id); else other_content" class="btn-floating waves-effect waves-light green" (click)="inviteFriend(user)"><i class="material-icons">add</i></a>
          <ng-template #other_content><a class="btn waves-effect waves-light red" (click)="cancelRequest(user.user_id)">Cancel Request</a></ng-template>
        </div>
        <ng-template #other_div>
          <a *ngIf="!checkPending(user.user_id); else other_other_content" class="btn-floating waves-effect waves-light green" (click)="inviteFriend(user)"><i class="material-icons">add</i></a>
          <ng-template #other_other_content><a class="btn waves-effect waves-light red" (click)="cancelRequest(user.user_id)">Cancel Request</a></ng-template>

        </ng-template>

      </div>
    </li>
  </ul>
</div>
