<div>
  <h3>Text und Bildern</h3>
</div>


<div class="container">

  <div #container (click)="addImage()" class="box">
    <div class="textContainer">
      <i class="fa fa-plus fa-5x"></i>
    </div>
    <div  class="textContainer">
      <div class="text">Neues Bild</div>
    </div>
  </div>

  <div  *ngFor="let image of images" class="box">
    <div (click)="playVoice(image.text)" class="image"></div>
    <div  class="textContainer">
      <div [textContent]="image.text" (input)="image.text=$event.target.textContent" contenteditable="true" class="text"></div>
    </div>
  </div>


</div>
