<div>
  <h3>Kategorien</h3>
</div>


<div class="container">

<div class="controlBox">

  <div #container (click)="addCategory()" class="box">
    <div class="textContainer">
      <i class="fa fa-plus fa-5x"></i>
    </div>
    <div  class="textContainer">
      <div class="text">Neue Kategorie</div>
    </div>
  </div>

  <div (click)="saveCategory()" class="box">
    <div class="textContainer">
      <i class="fa fa-save fa-5x"></i>
    </div>
    <div  class="textContainer">
      <div class="text">speichern</div>
    </div>
  </div>
</div>


<div class="categoriesBox">
  <div  *ngFor="let category of categories" class="box">
    <div (click)="playVoice(category.text, category.id)" class="image"></div>
    <div  class="textContainer">
      <div [textContent]="category.text" (input)="category.text=$event.target.textContent" contenteditable="true" class="text"></div>
    </div>
  </div>
</div>


</div>
