html,body{
  height: 100%;
}
.content{
  max-width: 500px;
  margin: 0 auto;
}
#footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#msgPool{
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 80px;
  overflow: scroll;
}
#sendArea{
  position: relative;
  padding-right: 3rem;
  margin-top: 1rem;
}
#sendMsg{
  position: absolute;
  right: 0;
}
.me,.she{
  padding:3px 5px;
  margin: 3px;
}
.me{
  float: right;
  background: green;
  border-radius: 5px 0 5px 5px;
}
.she{
  float: left;
  background: grey;
  border-radius: 0 5px 5px 5px;
}