<div class="content" id="msgPool">
  <div class="row" *ngFor="let msg of msgs">

    <div class="col m12 s12 msg">
      <span [ngClass]="{
            'grey lighten-1': msg.from=='she',
            'deep-orange lighten-5': msg.from=='me'}"
      class="{{msg.from}}">{{msg.content}}</span>
    </div>

  </div>
</div>

<div class="content" id="footer">
	<div class="row">
    <div class="col s12 m12">
      <div id="feedback"><em>{{feedback}}</em></div>
    </div>
		<div class="col s12 m12" id="sendArea">
			<input #chatInput (keyup)="onKey(chatInput.value, $event)" type="text" id="chatInput" placeholder="chat">
			<a class="btn-floating waves-effect waves-light red" (click)="send()" id="sendMsg"><i class="material-icons">send</i></a>
		</div>
	</div>
</div>

<!--<ul id="slide-out" class="sidenav">-->
  <!--<li><div class="user-view">-->
    <!--<div class="background">-->
      <!--<img src="images/office.jpg">-->
    <!--</div>-->
    <!--<a href="#user"><img class="circle" src="images/yuna.jpg"></a>-->
    <!--<a href="#name"><span class="white-text name">John Doe</span></a>-->
    <!--<a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>-->
  <!--</div></li>-->
  <!--<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>-->
  <!--<li><a href="#!">Second Link</a></li>-->
  <!--<li><div class="divider"></div></li>-->
  <!--<li><a class="subheader">Subheader</a></li>-->
  <!--<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
<!--</ul>-->
<!--<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->


