
<br>
<div class="container">
  <div class="row card syarif-login">
    <form class="col s12">
      <div class="row">
        <div class="input-field col m6 offset-m3 s12">
          <i class="material-icons prefix">devices</i>
          <input (keyup)="onKey($event)" id="forgot-pass" type="text" required>
          <label for="forgot-pass">E-Mail</label>
        </div>
        <div class="col m6 offset-m3 s12 syarif-submit">
          <a class="waves-effect waves-light btn-small" (click)="resetPassword()"><i class="material-icons right">chevron_right</i>Reset Password</a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6 offset-m3 s12">
          <p class="red-text"></p>
          <p style="margin-bottom: -0.5em">Don't have an account? <a class="anmelden-link green-text" routerLink="/register">Register</a></p>
        </div>
      </div>
    </form>
  </div>


</div>
