<div class="container center">
  <ul id="friend-list">
    <li>
      <img src="../../assets/img/profil/unknown_profile.png" alt="">
      <div class="middle">
        <h5>Syarif</h5>
        <span class="msg-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, id.</span>
      </div>
      <span class="badge">3</span>
      <span class="time">10:33</span>
    </li>
    <li>
      <img src="../../assets/img/profil/unknown_profile.png" alt="">
      <div class="middle">
        <h5>Adi</h5>
        <span class="msg-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores est, ex excepturi provident...</span>
      </div>
      <span class="badge">1</span>
      <span class="time">10:33</span>
    </li>
    <li>
    <img src="../../assets/img/profil/unknown_profile.png" alt="">
    <div class="middle">
      <h5>Nils</h5>
      <span class="msg-preview">Lorem ipsum dolor sit amet.</span>
    </div>
    <span class="time">10:33</span>
  </li>
  </ul>
</div>
