<div class="container">
  <div class="row card syarif-register">
    <form [formGroup]="registerForm" class="col s12">
      <div class="row">
        <div class="  input-field col m6 offset-m3 s12 center ">
          <a class="syarif-facebook waves-effect waves-light z-depth-1 white-text" href="/auth/facebook">SIGN UP WITH FACEBOOK</a>
        </div>
        <div class="col m8 offset-m2 s12">
          <h6><span>OR</span></h6>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6 offset-m3 s12">
          <i class="material-icons prefix">account_circle</i>
          <input formControlName="username" id="username" type="text" [ngClass]="classValidation" required>
          <label for="username">Username</label>
        </div>
        <div class="input-field col m6 offset-m3 s12">
          <i class="material-icons prefix">drafts</i>
          <input formControlName="email" id="email" type="email" [ngClass]="classValidation" required>
          <label for="email">E-Mail</label>
        </div>
        <div class="input-field col m6 offset-m3 s12">
          <i class="material-icons prefix">email</i>
          <input formControlName="cEmail" id="email2" type="email" [ngClass]="classValidation" required>
          <label for="email2">E-Mail Bestaetigen</label>
        </div>
        <div class="input-field col m6 offset-m3 s12">
          <i class="material-icons prefix">vpn_key</i>
          <input formControlName="password" id="password" type="password" [ngClass]="classValidation" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col m6 offset-m3 s12 syarif-submit">
          <a class="waves-effect waves-light btn-small" (click)="register()"><i class="material-icons right">chevron_right</i>Registrieren</a>
        </div>
        <div class="input-field col m6 offset-m3 s12">
          <p [style.display]="errorStyle ? 'inline' : 'none'" class="red-text">{{errorMessage}}</p>
          <p>Sie haben bereits ein Konto? <a class="anmelden-link green-text" routerLink="/login">Anmelden</a></p>
        </div>
      </div>
    </form>
  </div>


</div>
